.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/ECIES.deps.json
bin/Debug/net5.0/ECIES.dll
bin/Debug/net5.0/ECIES.exe
bin/Debug/net5.0/ECIES.pdb
bin/Debug/net5.0/ECIES.runtimeconfig.dev.json
bin/Debug/net5.0/ECIES.runtimeconfig.json
bin/Debug/net5.0/ref/ECIES.dll
obj/ECIES.csproj.nuget.dgspec.json
obj/ECIES.csproj.nuget.g.props
obj/ECIES.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/ECIES.AssemblyInfo.cs
obj/Debug/net5.0/ECIES.AssemblyInfoInputs.cache
obj/Debug/net5.0/ECIES.assets.cache
obj/Debug/net5.0/ECIES.csproj.AssemblyReference.cache
obj/Debug/net5.0/ECIES.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/ECIES.csproj.FileListAbsolute.txt
obj/Debug/net5.0/ECIES.dll
obj/Debug/net5.0/ECIES.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/ECIES.genruntimeconfig.cache
obj/Debug/net5.0/ECIES.pdb
obj/Debug/net5.0/ref/ECIES.dll
